## Introduction to Python

### Comment Lines

In [ ]:
# This is a comment line
# This is another comment line
# This is the last comment line here

### Inputs and Outputs in Python

In [2]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), num2, type(num2))
result = num1 + num2
print (result)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  300

100 <class 'str'> 300 <class 'str'>
100300
End of the program...

In [3]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), num2, type(num2))
result = num1 + num2
print (result)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  400

100 <class 'int'> 400 <class 'int'>
500
End of the program...

In [21]:
print ("So", num1, "+", num2, "=", result)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(result))
print ("So {} + {} = {}".format(num1, num2, result))   # {} will be called variable place holder
print ("So {0} + {1} = {2}".format(num1, num2, result))  # numbered place holder
print ("So {2} + {1} = {0}".format(result, num2, num1))  # numbered place holder
print ("So {fn} + {sn} = {tot}".format(fn = num1, sn = num2, tot = result))  # labelled place holder
print ("So {fn} + {sn} = {tot}".format(tot = result, sn = num2, fn = num1))  # labelled place holder
print ("So %d + %d = %d"%(num1, num2, result))
print ("So %d + %f = %d"%(num1, num2, result))
print ("So %d + %8.2f = %d"%(num1, num2, result))
print (f"So {num1} + {num2} = {result}")   # smart formatting

So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400.000000 = 500
So 100 +   400.00 = 500
So 100 + 400 = 500

### Operators

In [22]:
# arithmetic operators
print (100 + 40)
print (100 - 40)
print (100 * 40)
print (100 / 40)   # float fivision
print (100 // 40)  # integer division
print (100 ** 4)   # exponentiation
print (100 % 40)   # remainder of the division

140
60
4000
2.5
2
100000000
20

In [24]:
# relational operators: >, >=, <, <=, !=, ==
print (100 >= 200, 100 <= 200, 100 != 200)

False True True

In [28]:
# logical operators: and, or, not
print (False or False, False or True, True or False, True or True)
print (False and False, False and True, True and False, True and True)
print (not True, not False)

False True True True
False False False True
False True

In [31]:
# Operators can be of three types
# 1. Unary operators (operator operand), e.g +100, -200
# 2. Binary operators (operand operator operand) e.g. 100 + 40, 100 % 20
# 3. Ternary operators (True_Part, condition, False_Part)
# e.g.
num1 = 100
result = "Even" if (num1 % 2 == 0) else "Odd"
print (f"So {num1} is an {result} number")

num1 = 105
result = "Even" if (num1 % 2 == 0) else "Odd"
print (f"So {num1} is an {result} number")

So 100 is an Even number
So 105 is an Odd number

In [39]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2):
    if (num1 > num3):
        print (f"Maximum = {num1}...")
        print ("The first number is the maximum number...")
    else:
        print (f"Maximum = {num3}")
        print ("The third number is the maximum number...")
elif (num2 > num3):
    print (f"Maximum = {num2}")
    print ("The second number is the maximum number...")
else:
    print (f"Maximum = {num3}")
    print ("The third number is the maximum number...")
print ("End of the program...")

Please enter the first number:  33
Please enter the second number:  11
Please enter the third number:  22

Maximum = 33...
The first number is the maximum number...
End of the program...

In [40]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2 and num1 > num3):
    print (f"Maximum = {num1}...")
    print ("The first number is the maximum number...")
elif (num2 > num3):
    print (f"Maximum = {num2}")
    print ("The second number is the maximum number...")
else:
    print (f"Maximum = {num3}")
    print ("The third number is the maximum number...")
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  300
Please enter the third number:  200

Maximum = 300
The second number is the maximum number...
End of the program...

### Loop Control in Python

In [1]:
for i in range(8):
    print (i)

0
1
2
3
4
5
6
7

In [2]:
for i in range(0, 8):
    print (i)

0
1
2
3
4
5
6
7

In [3]:
for i in range(0, 8, 1):
    print (i)

0
1
2
3
4
5
6
7

In [5]:
for i in range(1, 8, 2):
    print (i)

1
3
5
7

In [7]:
for i in range(10, 1, -2):
    print (i)

10
8
6
4
2

In [10]:
for i in range(5):
    print (f"Looping for i = {i}...")
else:
    print ("Else block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Else block is executing...
Had a smooth execution...
End of the program...

In [13]:
for i in range(5):
    print (f"Looping for i = {i}...")
    if (i == 4): 
        print ("Breaking out from the loop...")
        break
else:
    print ("Else block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Breaking out from the loop...
End of the program...

In [16]:
num = int(input("Please enter one integer: "))
for i in range(2, num):
    if (num % i == 0):
        print (f"{num} is NOT PRIME...")
        break
else:
    print (f"{num} is PRIME")
print ("End of the program...")

Please enter one integer:  100

100 is NOT PRIME...
End of the program...

In [17]:
for i in range(10):
    if (i == 3 or i == 5):
        print (f"For i = {i}, continuing with the next iteration...")
        continue
    print (f"Looping with i = {i}...")
else:
    print ("Else block is executing...")
print ("End of the program...")

Looping with i = 0...
Looping with i = 1...
Looping with i = 2...
For i = 3, continuing with the next iteration...
Looping with i = 4...
For i = 5, continuing with the next iteration...
Looping with i = 6...
Looping with i = 7...
Looping with i = 8...
Looping with i = 9...
Else block is executing...
End of the program...

In [22]:
print ("This program will check whether a number is EVEN or not...")
num = int(input("Please enter an integer: "))
if (num % 2 == 1):
    pass   # statement place holder
else:
    print (f"{num} is EVEN...")
print ("End of the program...")

This program will check whether a number is EVEN or not...

Please enter an integer:  101

End of the program...

In [25]:
print ("This program will check whether a number is EVEN or ODD...")
num = int(input("Please enter an integer: "))
if (num % 2 == 1):
    print (f"{num} is ODD...")
else:
    print (f"{num} is EVEN...")
print ("End of the program...")

# 101 / 2 => Quotient = 50 and Remainder = 1, quotient <- 101 // 2, remainder <- 101 % 2
# 101 / 2 => 50.5  (Float Division)
# 101 // 2 => 50  (Integer Division)
# 100 / 2 => Quotient = 50 and Remainder = 0

This program will check whether a number is EVEN or ODD...

Please enter an integer:  101

101 is ODD...
End of the program...

In [31]:
print ("Visit Doctor...")   # 1 time
medi_count = 0
for day in range(1, 6):
    print ("Good Morning...")   # 5 times
    for medi in range(1, 4):
        print (f"Day No. = {day} and Medicine No. = {medi}...")   # 15 times
        medi_count += 1   # 15 times
    print ("Good Night....")   # 5 times
    print ("----------------------------------------")   # 5 times
else:
    print ("Thanks to Doctor...")   # 1 time
print (f"Total number of medicines consumed is {medi_count}...")

Visit Doctor...
Good Morning...
Day No. = 1 and Medicine No. = 1...
Day No. = 1 and Medicine No. = 2...
Day No. = 1 and Medicine No. = 3...
Good Night....
----------------------------------------
Good Morning...
Day No. = 2 and Medicine No. = 1...
Day No. = 2 and Medicine No. = 2...
Day No. = 2 and Medicine No. = 3...
Good Night....
----------------------------------------
Good Morning...
Day No. = 3 and Medicine No. = 1...
Day No. = 3 and Medicine No. = 2...
Day No. = 3 and Medicine No. = 3...
Good Night....
----------------------------------------
Good Morning...
Day No. = 4 and Medicine No. = 1...
Day No. = 4 and Medicine No. = 2...
Day No. = 4 and Medicine No. = 3...
Good Night....
----------------------------------------
Good Morning...
Day No. = 5 and Medicine No. = 1...
Day No. = 5 and Medicine No. = 2...
Day No. = 5 and Medicine No. = 3...
Good Night....
----------------------------------------
Thanks to Doctor...
Total number of medicines consumed is 15...

In [33]:
i = 1
while (i <= 8):
    print (f"Looping with i = {i}...")
    # i = i + 1
    i += 1
else:
    print ("Else block is executing...")
print ("End of the program...")

Looping with i = 1...
Looping with i = 2...
Looping with i = 3...
Looping with i = 4...
Looping with i = 5...
Looping with i = 6...
Looping with i = 7...
Looping with i = 8...
Else block is executing...
End of the program...

In [34]:
i = 1
while (i <= 8):
    print (f"Looping with i = {i}...")
    # i = i + 1
    i += 3
else:
    print ("Else block is executing...")
print ("End of the program...")

Looping with i = 1...
Looping with i = 4...
Looping with i = 7...
Else block is executing...
End of the program...

In [36]:
i = 10
while (i >= 1):
    print (f"Looping with i = {i}...")
    # i = i + 1
    i -= 3
else:
    print ("Else block is executing...")
print ("End of the program...")

Looping with i = 10...
Looping with i = 7...
Looping with i = 4...
Looping with i = 1...
Else block is executing...
End of the program...

In [37]:
print ("Visit Doctor...")   # 1 time
medi_count = 0
day = 1
while (day <= 5):
    print ("Good Morning...")   # 5 times
    medi = 1
    while (medi <= 3):
        print (f"Day No. = {day} and Medicine No. = {medi}...")   # 15 times
        medi_count += 1   # 15 times
        medi += 1
    print ("Good Night....")   # 5 times
    print ("----------------------------------------")   # 5 times
    day += 1
else:
    print ("Thanks to Doctor...")   # 1 time
print (f"Total number of medicines consumed is {medi_count}...")

Visit Doctor...
Good Morning...
Day No. = 1 and Medicine No. = 1...
Day No. = 1 and Medicine No. = 2...
Day No. = 1 and Medicine No. = 3...
Good Night....
----------------------------------------
Good Morning...
Day No. = 2 and Medicine No. = 1...
Day No. = 2 and Medicine No. = 2...
Day No. = 2 and Medicine No. = 3...
Good Night....
----------------------------------------
Good Morning...
Day No. = 3 and Medicine No. = 1...
Day No. = 3 and Medicine No. = 2...
Day No. = 3 and Medicine No. = 3...
Good Night....
----------------------------------------
Good Morning...
Day No. = 4 and Medicine No. = 1...
Day No. = 4 and Medicine No. = 2...
Day No. = 4 and Medicine No. = 3...
Good Night....
----------------------------------------
Good Morning...
Day No. = 5 and Medicine No. = 1...
Day No. = 5 and Medicine No. = 2...
Day No. = 5 and Medicine No. = 3...
Good Night....
----------------------------------------
Thanks to Doctor...
Total number of medicines consumed is 15...

In [41]:
print ("Hello " * 5)
print ("Welcome " * 8)

Hello Hello Hello Hello Hello
Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome

In [ ]:
Pattern - 1
-----------
n = 6 (User given integer)
                 i   .   *
               -------------
.....*           1   5   1
....***          2   4   3  . => (n - i)
...*****         3   3   5
..*******        4   2   7  * => (2 * i - 1)
.*********       5   1   9
***********      6   0  11
               -------------
               Tracing Table

In [44]:
n = int(input("Please enter the number of layers of the pattern: "))
for i in range(1, n + 1, 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the pattern printing...")

Please enter the number of layers of the pattern:  11

..........*
.........***
........*****
.......*******
......*********
.....***********
....*************
...***************
..*****************
.*******************
*********************
End of the pattern printing...

In [ ]:
Pattern - 2
-----------
n = 6 (User given integer)
                 i   .   *
               -------------
***********      1   0  11
.*********       2   1   9  . => (i - 1)
..*******        3   2   7
...*****         4   3   5  * => (2 * (n - i) + 1)
....***          5   4   3
.....*           6   5   1
               -------------
               Tracing Table

In [47]:
n = int(input("Please enter the number of layers of the pattern: "))
for i in range(1, n + 1, 1):
    print ("." * (i - 1) + "*" * (2 * (n - i) + 1))
print ("End of the pattern printing...")

Please enter the number of layers of the pattern:  6

***********
.*********
..*******
...*****
....***
.....*
End of the pattern printing...

In [ ]:
Pattern - 3
-----------
n = 11 (User given ODD integer), m = (n + 1) // 2 = 6
                 i   .   *
               -------------
.....*           1   5   1       i, n, m
....***          2   4   3  . => (m - i)
...*****         3   3   5
..*******        4   2   7  * => (2 * i - 1)
.*********       5   1   9
***********    __6___0__11__
.*********       7   1   9
..*******        8   2   7  . => (i - m)
...*****         9   3   5
....***         10   4   3  * => (2 * (n - i) + 1)
.....*          11   5   1
               -------------
               Tracing Table

In [54]:
while (True):
    n = int(input("Please enter the ODD number of layers of the pattern: "))
    if (n % 2 == 1): break
m = (n + 1) // 2
for i in range(1, n + 1, 1):
    if (i > m): b = (i - m); s = (2 * (n - i) + 1)
    else: b = (m - i); s = (2 * i - 1)
    print ("." * b + "*" * s)
print ("End of the pattern printing...")

Please enter the ODD number of layers of the pattern:  21

..........*
.........***
........*****
.......*******
......*********
.....***********
....*************
...***************
..*****************
.*******************
*********************
.*******************
..*****************
...***************
....*************
.....***********
......*********
.......*******
........*****
.........***
..........*
End of the pattern printing...

### User Defined Function

In [3]:
def funct1():
    print ("Welcome " * 5)
    
funct1()
funct1()
funct1()

Welcome Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome Welcome

In [6]:
def funct2(msg, times):   # positional parameters
    print (msg * times)
    
funct2("Welcome ", 4)     # positional arguments
funct2("Bye !!! ", 6)
funct2("Best of luck. ", 3)

Welcome Welcome Welcome Welcome
Bye !!! Bye !!! Bye !!! Bye !!! Bye !!! Bye !!!
Best of luck. Best of luck. Best of luck.

In [7]:
def funct3(msg, times):
    return msg * times

result = funct3("Welcome ", 4)
print (result)
result = funct3("Bye... ", 5)
print (result)
print (funct3("Hi !!! ", 2))

Welcome Welcome Welcome Welcome
Bye... Bye... Bye... Bye... Bye...
Hi !!! Hi !!!

In [16]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):   # positional parameters
    print (f"par1 = {par1}, par2 = {par2} and par3 = {par3}...")
    
funct4(100, 200, 300)    # positional arguments
funct4(100, 200)
funct4(100)
funct4()
funct4(par1 = 100, par3 = 300)
funct4(par3 = 300, par1 = 100)

par1 = 100, par2 = 200 and par3 = 300...
par1 = 100, par2 = 200 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 333...
par1 = 111, par2 = 222 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 300...
par1 = 100, par2 = 222 and par3 = 300...

In [18]:
def funct5(num1, num2 = None):
    # if (num2 == None):
    if (num2 is None):
        return num1 + num1
    else:
        return num1 + num2
    
print (funct5(100, 500))
print (funct5(100))

600
200

In [22]:
# function returning muitple arguments
def funct6(num1, num2):
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tot, dif, prod, quo = funct6(100, 40)
print (f"Total = {tot}, Difference = {dif}, Product = {prod} and Quotient = {quo}...")
result = funct6(100, 40)
print (result, len(result), type(result))
print (f"Total = {result[0]}, Difference = {result[1]}, Product = {result[2]} and Quotient = {result[3]}...")

Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...
(140, 60, 4000, 2.5) 4 <class 'tuple'>
Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...

In [25]:
# function with variable number of input arguments
def funct7(*arg):   # here *arg indicates that forcefully we are declaring arg as a tuple type of object
    print (arg, len(arg), type(arg), id(arg))
    
funct7("Amitava", "Developer", "Male")
funct7("Amitava", "Developer", "Male", "Texas", 3500)
funct7("Amitava", "Developer", "Male", "Texas", 3500, "Married")

('Amitava', 'Developer', 'Male') 3 <class 'tuple'> 1922799598336
('Amitava', 'Developer', 'Male', 'Texas', 3500) 5 <class 'tuple'> 1922795125024
('Amitava', 'Developer', 'Male', 'Texas', 3500, 'Married') 6 <class 'tuple'> 1922809930816

In [26]:
def funct8(**kwarg):   # here **kwarg indicates that forcefully we are declaring kwarg as a dictionary type of object
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct8(name="Amitava", job="Developer", gender="Male")
funct8(name="Amitava", job="Developer", gender="Male", salary=3500)
funct8(name="Amitava", job="Developer", gender="Male", location="Texas", salary=3500, status="Married")

{'name': 'Amitava', 'job': 'Developer', 'gender': 'Male'} 3 <class 'dict'> 1922807389184
{'name': 'Amitava', 'job': 'Developer', 'gender': 'Male', 'salary': 3500} 4 <class 'dict'> 1922800927040
{'name': 'Amitava', 'job': 'Developer', 'gender': 'Male', 'location': 'Texas', 'salary': 3500, 'status': 'Married'} 6 <class 'dict'> 1922807389888

In [38]:
def funct9(*arg, **kwarg):   # here **kwarg indicates that forcefully we are declaring kwarg as a dictionary type of object
    print (arg, len(arg), type(arg), id(arg))
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct9("Amitava", "Developer", "Male", location="Texas", salary=3500, status="Married")
print ()
funct9("Amitava", "Developer", "Male")
print ()
funct9(location="Texas", salary=3500, status="Married")
print (type(funct9))

('Amitava', 'Developer', 'Male') 3 <class 'tuple'> 1922801852416
{'location': 'Texas', 'salary': 3500, 'status': 'Married'} 3 <class 'dict'> 1922801346304

('Amitava', 'Developer', 'Male') 3 <class 'tuple'> 1922795385472
{} 0 <class 'dict'> 1922801336832

() 0 <class 'tuple'> 1922680569968
{'location': 'Texas', 'salary': 3500, 'status': 'Married'} 3 <class 'dict'> 1922798327680
<class 'function'>

In [29]:
# non-recursive (iterative) factorial function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
# 6! = 1 * 2 * 3 * 4 * 5 * 6 = 6 * 5 * 4 * 3 * 2 * 1 = 720
def factorial_nr(num):
    if (num == 0 or num == 1):   # 0! = 1! = 1
        return 1
    fact = 1
    for i in range(1, num + 1):
        fact = fact * i
    return fact

print (factorial_nr(5))
print (factorial_nr(6))

120
720

In [32]:
# recursive factorial function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
# 6! = 1 * 2 * 3 * 4 * 5 * 6 = 6 * 5 * 4 * 3 * 2 * 1 = 720
# n! = n * (n - 1)!
def factorial_r(num):
    if (num == 0 or num == 1):   # base case: for certain inputs, outputs are pre-known to us
        return 1
    return num * factorial_r(num - 1)   # recursive case: the function will call itself

print (factorial_r(5))
print (factorial_r(6))

120
720

In [ ]:
5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120

In [35]:
# ternary operator
num = 100
result = "EVEN" if (num % 2 == 0) else "ODD"
print (f"num = {num} and it is {result}...")

num = 101
result = "EVEN" if (num % 2 == 0) else "ODD"
print (f"num = {num} and it is {result}...")

num = 100 and it is EVEN...
num = 101 and it is ODD...

### Lambda Function

In [39]:
mysquare = lambda num: num * num
print (type(mysquare))
print (mysquare(5))
print (mysquare(6))
print (mysquare(7))

<class 'function'>
25
36
49

In [40]:
def myadd(num1, num2):
    result = num1 + num2
    return result

n1 = 100
n2 = 200
outcome = myadd(n1, n2)
print (outcome)

300

In [41]:
myaddition = lambda num1, num2: num1 + num2
print (type(myaddition))
print (myaddition(500, 200))
print (myaddition(600, 700))
print (myaddition(700, 1000))

<class 'function'>
700
1300
1700

In [42]:
myfactorial = lambda num: 1 if (num == 0 or num == 1) else num * myfactorial(num - 1)
print (myfactorial(5))
print (myfactorial(6))

120
720

### Import Module

In [43]:
# importing required module
import math

In [58]:
print (math.sin(0), math.cos(0), math.tan(0), math.sinh(0))
print (math.gcd(100, 45), math.lcm(100, 45))
print (math.factorial(5), math.factorial(6))
print (math.pi, math.e, math.tau)
print (math.log(10), math.log(10, math.e))
print (math.log2(1024), math.log(1024, 2), math.log10(1000), math.log(1000, 10))
print (math.dist((100, 20), (300, 40)))
print (math.pow(10, 3), 10 ** 3, 10.0 ** 3)

0.0 1.0 0.0 0.0
5 900
120 720
3.141592653589793 2.718281828459045 6.283185307179586
2.302585092994046 2.302585092994046
10.0 10.0 3.0 2.9999999999999996
200.9975124224178
1000.0 1000 1000.0

In [59]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

In [ ]:
help(math)

### String Proessing

In [ ]:
LtoR ->  0  1  2  3  4  5  6  7  8  9
mystr = "u  n  i  v  e  r  s  i  t  y"
RtoL ->-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [10]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[2], mystr[-8], mystr[7], mystr[-3])  # string indexing
print (mystr[6:], mystr[-4:], mystr[:6], mystr[:-4])
print (mystr[3:6], mystr[-7:-4], mystr[3:-4], mystr[-7:6])  # string slicing

university 10 <class 'str'> 3141995670576
i i i i
sity sity univer univer
ver ver ver ver

In [11]:
mystr = "cheNNAi unIVersiTY"
print (mystr, len(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.capitalize())
print (mystr.title())
print (mystr.swapcase())
print (mystr.center(40))

cheNNAi unIVersiTY 18
CHENNAI UNIVERSITY
chennai university
Chennai university
Chennai University
CHEnnaI UNivERSIty
           cheNNAi unIVersiTY

In [16]:
mystr = "charity begins at home"
print (mystr, len(mystr))
print (mystr.find("ity"), mystr.find("i"), mystr.find("i", 5))
print (mystr.find("i", 12))

charity begins at home 22
4 4 11
-1

In [18]:
mystr = "charity begins at home"
print (mystr, len(mystr))
print (mystr.index("ity"), mystr.index("i"), mystr.index("i", 5))
print (mystr.index("i", 12))

charity begins at home 22
4 4 11

ValueError: substring not found

In [26]:
mystr = "    calcutta    university     "
print (mystr, len(mystr))
print (mystr.strip(), len(mystr.strip()))
print (mystr.lstrip(), len(mystr.lstrip()))
print (mystr.rstrip(), len(mystr.rstrip()))

    calcutta    university      31
calcutta    university 22
calcutta    university      27
    calcutta    university 26

In [28]:
mystr = "#@##calcutta@#@##university@@##@"
print (mystr, len(mystr))
print (mystr.strip("#@"), len(mystr.strip("#@")))
print (mystr.lstrip("#@"), len(mystr.lstrip("#@")))
print (mystr.rstrip("#@"), len(mystr.rstrip("#@")))

#@##calcutta@#@##university@@##@ 32
calcutta@#@##university 23
calcutta@#@##university@@##@ 28
#@##calcutta@#@##university 27

In [34]:
mystr = "charity begins at home"
print (mystr, len(mystr))
print (mystr.startswith("cha"), mystr.startswith("beg"), mystr.startswith("beg", 8))
print (mystr.endswith("ome"), mystr.endswith("OME"), mystr.endswith("beg", 8))

charity begins at home 22
True False True
True False False

In [37]:
mystr = "university"
print (mystr, len(mystr))
print (mystr.count("i"), mystr.count("s"))

university 10
2 1

In [38]:
mystr = "university"
print (mystr, len(mystr))
mystr = mystr.replace("i", "x")
print (mystr)

university 10
unxversxty

In [43]:
mystr = "ABCD"
print (mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric())
mystr = "1234"
print (mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric())
mystr = "1234ABCD"
print (mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric())
mystr = "1234@#$ABCD"
print (mystr.isalpha(), mystr.isalnum(), mystr.isdigit(), mystr.isnumeric())

True True False False
False True True True
False True False False
False False False False

### List Proessing

In [44]:
list1 = ["Mon", "Tue", "Thus", "Sat", "Fri"]
print (list1, len(list1))
print (max(list1), min(list1))

['Mon', 'Tue', 'Thus', 'Sat', 'Fri'] 5
Tue Fri

In [48]:
list1 = [100, 400, 200, 300, 500]
print (list1, len(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, 200, 300, 500] 5
500 100
1500 300.0

In [51]:
list1 = [100, 400, "abcd", 200, 300, 500]
print (list1, len(list1))
print (max(list1), min(list1))
print (sum(list1), sum(list1) / len(list1))

[100, 400, 'abcd', 200, 300, 500] 6

TypeError: '>' not supported between instances of 'str' and 'int'

In [54]:
# Index  0    1    2    3    4
list1 = [100, 400, 200, 300, 500]
print (list1, len(list1))
print (list1[1:4], list1[1:-1])
print (list1[-4:-1], list1[-4:4])

[100, 400, 200, 300, 500] 5
[400, 200, 300] [400, 200, 300]
[400, 200, 300] [400, 200, 300]

In [82]:
list1 = ["Monday", "Tuesday", "Wednesday"]
list2 = ["Friday", "Thursday"]
print (list1)
print (list2)
print (list1 + list2)
print ([list1, list2])
list1.extend(list2)
print (list1)
print (list2)

['Monday', 'Tuesday', 'Wednesday']
['Friday', 'Thursday']
['Monday', 'Tuesday', 'Wednesday', 'Friday', 'Thursday']
[['Monday', 'Tuesday', 'Wednesday'], ['Friday', 'Thursday']]
['Monday', 'Tuesday', 'Wednesday', 'Friday', 'Thursday']
['Friday', 'Thursday']

In [80]:
# insert operations
list1 = ["Monday", "Tuesday", "Wednesday"]
print (list1, len(list1))
list1.append("Sunday")
print (list1)
list1.append("Friday")
print (list1)
list1.insert(1, "Thursday")
print (list1)

['Monday', 'Tuesday', 'Wednesday'] 3
['Monday', 'Tuesday', 'Wednesday', 'Sunday']
['Monday', 'Tuesday', 'Wednesday', 'Sunday', 'Friday']
['Monday', 'Thursday', 'Tuesday', 'Wednesday', 'Sunday', 'Friday']

In [81]:
# delete operations
list1 = ["Monday", "Tuesday", "Wednesday", 'Sunday', 'Friday']
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())

['Monday', 'Tuesday', 'Wednesday', 'Sunday', 'Friday'] 5
Friday
['Monday', 'Tuesday', 'Wednesday', 'Sunday'] 4
Sunday
['Monday', 'Tuesday', 'Wednesday'] 3
Wednesday

In [72]:
list1 = ["Monday", "Tuesday", "Wednesday", 'Sunday', 'Friday']
print (list1, len(list1))
print (list1.pop(1))
print (list1, len(list1))
print (list1.pop(2))
print (list1, len(list1))
print (list1.pop(0))
print (list1, len(list1))

['Monday', 'Tuesday', 'Wednesday', 'Sunday', 'Friday'] 5
Tuesday
['Monday', 'Wednesday', 'Sunday', 'Friday'] 4
Sunday
['Monday', 'Wednesday', 'Friday'] 3
Monday
['Wednesday', 'Friday'] 2

In [75]:
list1 = ["Monday", "Tuesday", "Wednesday", 'Sunday', 'Friday']
print (list1, len(list1))
list1.clear()
print (list1, len(list1))

['Monday', 'Tuesday', 'Wednesday', 'Sunday', 'Friday'] 5
[] 0

In [77]:
list1 = ["Monday", "Tuesday", "Wednesday", 'Sunday', 'Friday']
print (list1, len(list1))
list1.remove('Friday')
print (list1, len(list1))
list1.remove('Tuesday')
print (list1, len(list1))

['Monday', 'Tuesday', 'Wednesday', 'Sunday', 'Friday'] 5
['Monday', 'Tuesday', 'Wednesday', 'Sunday'] 4
['Monday', 'Wednesday', 'Sunday'] 3

In [78]:
list1 = ["Monday", "Tuesday", "Wednesday", 'Sunday', 'Friday']
print (list1, len(list1))
del list1[2]
print (list1, len(list1))
del list1[3]
print (list1, len(list1))

['Monday', 'Tuesday', 'Wednesday', 'Sunday', 'Friday'] 5
['Monday', 'Tuesday', 'Sunday', 'Friday'] 4
['Monday', 'Tuesday', 'Sunday'] 3

In [79]:
list1 = ["Monday", "Tuesday", "Wednesday", 'Sunday', 'Friday']
print (list1, len(list1))
del list1
print (list1, len(list1))

['Monday', 'Tuesday', 'Wednesday', 'Sunday', 'Friday'] 5

NameError: name 'list1' is not defined

In [83]:
list1 = ["Monday", "Tuesday", "Wednesday", 'Sunday', 'Friday']
print (list1, len(list1))
list1[2] = "Wed"
print (list1, len(list1))

['Monday', 'Tuesday', 'Wednesday', 'Sunday', 'Friday'] 5
['Monday', 'Tuesday', 'Wed', 'Sunday', 'Friday'] 5

In [85]:
list1 = ["Monday", "Tuesday", "Wednesday", 'Sunday', 'Friday']
print (list1, len(list1))
list1.reverse()
print (list1, len(list1))

['Monday', 'Tuesday', 'Wednesday', 'Sunday', 'Friday'] 5
['Friday', 'Sunday', 'Wednesday', 'Tuesday', 'Monday'] 5

In [86]:
list1 = ["Monday", "Tuesday", "Wednesday", 'Sunday', 'Friday']
print (list1, len(list1))
list1.sort()
print (list1)

['Monday', 'Tuesday', 'Wednesday', 'Sunday', 'Friday'] 5
['Friday', 'Monday', 'Sunday', 'Tuesday', 'Wednesday']

In [87]:
list1 = ["Monday", "Tuesday", "Wednesday", 'Sunday', 'Friday']
print (list1, len(list1))
list1.sort(reverse=True)
print (list1)

['Monday', 'Tuesday', 'Wednesday', 'Sunday', 'Friday'] 5
['Wednesday', 'Tuesday', 'Sunday', 'Monday', 'Friday']

In [91]:
list1 = ["Monday", "Tuesday", "Wednesday", 'Sunday', 'Friday']
print (list1, len(list1))
print (sorted(list1))
print (list1, len(list1))
print (sorted(list1, reverse=True))

['Monday', 'Tuesday', 'Wednesday', 'Sunday', 'Friday'] 5
['Friday', 'Monday', 'Sunday', 'Tuesday', 'Wednesday']
['Monday', 'Tuesday', 'Wednesday', 'Sunday', 'Friday'] 5
['Wednesday', 'Tuesday', 'Sunday', 'Monday', 'Friday']

In [94]:
mystr = "charity begins at home"
print (mystr)
list1 = mystr.split()
print (list1)
mystr1 = " ".join(list1)
print (mystr1)

charity begins at home
['charity', 'begins', 'at', 'home']
charity begins at home

In [ ]:
help(str)

In [96]:
mystr = "Good Morning"
print (mystr)
mystr = mystr.replace("Morning", "Night")
print (mystr)

Good Morning
Good Night

### Tuple Proessing

In [46]:
tuple1 = ("Mon", "Tue", "Thus", "Sat", "Fri")
print (tuple1, len(tuple1))
print (max(tuple1), min(tuple1))

('Mon', 'Tue', 'Thus', 'Sat', 'Fri') 5
Tue Fri

In [50]:
tuple1 = (100, 400, 200, 300, 500)
print (tuple1, len(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, 200, 300, 500) 5
500 100
1500 300.0

In [52]:
tuple1 = (100, 400, "Rupam", 200, "USA", 300, 500)
print (tuple1, len(tuple1))
print (max(tuple1), min(tuple1))
print (sum(tuple1), sum(tuple1) / len(tuple1))

(100, 400, 'Rupam', 200, 'USA', 300, 500) 7

TypeError: '>' not supported between instances of 'str' and 'int'

In [55]:
# Index   0    1    2    3    4
tuple1 = (100, 400, 200, 300, 500)
print (tuple1, len(tuple1))
print (tuple1[1:4], tuple1[1:-1])
print (tuple1[-4:-1], tuple1[-4:4])

(100, 400, 200, 300, 500) 5
(400, 200, 300) (400, 200, 300)
(400, 200, 300) (400, 200, 300)

In [70]:
tuple1 = ("Monday", "Tuesday", "Wednesday")
tuple2 = ("Friday", "Thursday")
print (tuple1)
print (tuple2)
print (tuple1 + tuple2)
print ((tuple1, tuple2))

('Monday', 'Tuesday', 'Wednesday')
('Friday', 'Thursday')
('Monday', 'Tuesday', 'Wednesday', 'Friday', 'Thursday')
(('Monday', 'Tuesday', 'Wednesday'), ('Friday', 'Thursday'))